In [213]:
# Update sklearn to prevent version mismatches
# !pip install sklearn --upgrade

In [214]:
import pandas as pd
import numpy as np

# Read the CSV and Perform Basic Data Cleaning

In [215]:
df = pd.read_csv("selected_df.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,Unnamed: 0,Age,Number of Dependents,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Long Distance Charges,...,Online Security code,Premium Tech Support code,Streaming TV code,Streaming Movies code,Payment Method code,Customer Status code,Churn Category code,Online Backup code,Device Protection Plan code,Unlimited Data code
0,0,37,0,2,9,42.39,16.0,65.6,593.30,381.51,...,1,1,1,1,1,1,1,1,1,1
1,1,46,0,0,9,10.69,10.0,-4.0,542.40,96.21,...,1,2,2,2,1,1,1,2,1,2
2,2,50,0,0,4,33.65,30.0,73.9,280.85,134.60,...,1,2,2,1,2,2,2,2,2,1
3,3,78,0,1,13,27.82,4.0,98.0,1237.85,361.66,...,1,2,1,2,2,2,3,1,2,1
4,4,75,0,3,3,7.38,11.0,83.9,267.40,22.14,...,1,1,1,1,1,2,3,2,1,1

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4601 entries, 0 to 6587
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         4601 non-null   int64
 1   Age                                4601 non-null   int64
 2   Number of Dependents               4601 non-null   int64
 3   Number of Referrals                4601 non-null   int64
 4   Tenure in Months                   4601 non-null   int64
 5   Avg Monthly Long Distance Charges  4601 non-null   float64
 6   Avg Monthly GB Download            4601 non-null   float64
 7   Monthly Charge                     4601 non-null   float64
 8   Total Charges                      4601 non-null   float64
 9   Total Long Distance Charges        4601 non-null   float64
 10  Gender code                        4601 non-null   int64
 11  Married code                       4601 non-null   int64
 12  Offer code                         4601 non-null   int64
 13  Multiple Lines code                4601 non-null   int64
 14  Internet Service code              4601 non-null   int64
 15  Internet Type code                 4601 non-null   int64
 16  Online Security code               4601 non-null   int64
 17  Premium Tech Support code          4601 non-null   int64
 18  Streaming TV code                  4601 non-null   int64
 19  Streaming Movies code              4601 non-null   int64
 20  Payment Method code                4601 non-null   int64
 21  Customer Status code               4601 non-null   int64
 22  Churn Category code                4601 non-null   int64
 23  Online Backup code                 4601 non-null   int64
 24  Device Protection Plan code        4601 non-null   int64
 25  Unlimited Data code                4601 non-null   int64
dtypes: float64(5), int64(21)
memory usage: 970.5 KB

In [217]:
print(df.columns)

Index(['Unnamed: 0', 'Age', 'Number of Dependents', 'Number of Referrals',
       'Tenure in Months', 'Avg Monthly Long Distance Charges',
       'Avg Monthly GB Download', 'Monthly Charge', 'Total Charges',
       'Total Long Distance Charges', 'Gender code', 'Married code',
       'Offer code', 'Multiple Lines code', 'Internet Service code',
       'Internet Type code', 'Online Security code',
       'Premium Tech Support code', 'Streaming TV code',
       'Streaming Movies code', 'Payment Method code', 'Customer Status code',
       'Churn Category code', 'Online Backup code',
       'Device Protection Plan code', 'Unlimited Data code'],
      dtype='object')

# Select your features (columns)

In [218]:
# Set features. This will also be used as your x values.
model_df = df.drop(['Unnamed: 0','Customer Status code','Churn Category code'], axis=1)

model_df.head()

,Age,Number of Dependents,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Long Distance Charges,Gender code,...,Internet Service code,Internet Type code,Online Security code,Premium Tech Support code,Streaming TV code,Streaming Movies code,Payment Method code,Online Backup code,Device Protection Plan code,Unlimited Data code
0,37,0,2,9,42.39,16.0,65.6,593.30,381.51,1,...,1,1,1,1,1,1,1,1,1,1
1,46,0,0,9,10.69,10.0,-4.0,542.40,96.21,2,...,1,1,1,2,2,2,1,2,1,2
2,50,0,0,4,33.65,30.0,73.9,280.85,134.60,2,...,1,2,1,2,2,1,2,2,2,1
3,78,0,1,13,27.82,4.0,98.0,1237.85,361.66,2,...,1,2,1,2,1,2,2,1,2,1
4,75,0,3,3,7.38,11.0,83.9,267.40,22.14,1,...,1,2,1,1,1,1,1,2,1,1

# Create a Train Test Split

Use `koi_disposition` for the y values

In [219]:
from sklearn.model_selection import train_test_split

X = model_df
y = df["Customer Status code"].values.reshape(-1, 1)
print(X.shape, y.shape)

(4601, 23) (4601, 1)

In [220]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.3)

X_train

,Age,Number of Dependents,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Long Distance Charges,Gender code,...,Internet Service code,Internet Type code,Online Security code,Premium Tech Support code,Streaming TV code,Streaming Movies code,Payment Method code,Online Backup code,Device Protection Plan code,Unlimited Data code
1385,22,0,0,22,15.77,42.0,69.70,1490.40,346.94,2,...,1,2,1,2,2,1,1,2,1,1
2200,32,0,7,40,24.30,28.0,50.15,2058.50,972.00,2,...,1,3,1,2,2,1,1,1,1,1
948,22,0,0,56,35.59,69.0,73.85,4092.85,1993.04,1,...,1,2,1,2,2,1,2,1,1,1
2149,69,0,0,29,10.55,2.0,79.30,2414.55,305.95,2,...,1,2,1,1,2,1,2,2,1,1
5515,69,0,1,32,33.74,6.0,93.20,2931.00,1079.68,1,...,1,2,1,2,1,2,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6347,37,0,0,13,3.84,4.0,81.15,952.30,49.92,1,...,1,2,1,2,2,1,2,1,2,1
657,49,0,0,26,37.51,30.0,69.05,1815.65,975.26,1,...,1,2,1,2,2,1,1,2,1,1
4429,53,1,5,69,21.56,17.0,79.20,5420.65,1487.64,2,...,1,2,1,2,2,1,1,2,2,1
5403,42,1,1,4,37.23,23.0,69.55,284.90,148.92,2,...,1,2,1,2,2,1,1,2,1,1
1246,52,0,6,72,42.64,15.0,90.95,6468.60,3070.08,1,...,1,3,2,1,1,2,2,1,2,1

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [221]:
# Scale your data
from sklearn.preprocessing import StandardScaler,LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

# Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# # X_train
# # # scale the data
# X_scaler = StandardScaler().fit(X_train)
# # X_minmax = MinMaxScaler().fit(X_train)
# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)

X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)


print(len(X_test_scaled),len(encoded_y_test))

c:\Users\Kevin\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

1381 1381

# Train the Model

In [222]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train_scaled, encoded_y_train)

print(f"Training Data Score: {model.score(X_train_scaled, encoded_y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, encoded_y_test)}")

Training Data Score: 0.812111801242236
Testing Data Score: 0.8110065170166546

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [223]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV

param_grid = {'C': [1, 5, 10, 50],
            'max_iter':[1000, 3000, 10000]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [224]:
# Train the model with GridSearch
grid.fit(X_train_scaled, encoded_y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
[CV 1/5] END ................C=1, max_iter=1000;, score=0.784 total time=   0.4s
[CV 2/5] END ................C=1, max_iter=1000;, score=0.814 total time=   0.2s
[CV 3/5] END ................C=1, max_iter=1000;, score=0.792 total time=   0.0s
[CV 4/5] END ................C=1, max_iter=1000;, score=0.825 total time=   0.1s
[CV 5/5] END ................C=1, max_iter=1000;, score=0.815 total time=   1.1s
[CV 1/5] END ................C=1, max_iter=3000;, score=0.784 total time=   1.1s
[CV 2/5] END ................C=1, max_iter=3000;, score=0.814 total time=   0.7s
[CV 3/5] END ................C=1, max_iter=3000;, score=0.792 total time=   0.9s
[CV 4/5] END ................C=1, max_iter=3000;, score=0.825 total time=   0.6s
[CV 5/5] END ................C=1, max_iter=3000;, score=0.815 total time=   1.0s
[CV 1/5] END ...............C=1, max_iter=10000;, score=0.784 total time=   0.5s
[CV 2/5] END ...............C=1, max_iter=10000;, score=0.814 total time=   0.2s
[CV 3/5] END ...............C=1, max_iter=10000;, score=0.792 total time=   0.3s
[CV 4/5] END ...............C=1, max_iter=10000;, score=0.825 total time=   0.2s
[CV 5/5] END ...............C=1, max_iter=10000;, score=0.815 total time=   0.9s
[CV 1/5] END ................C=5, max_iter=1000;, score=0.783 total time=   0.4s
[CV 2/5] END ................C=5, max_iter=1000;, score=0.815 total time=   0.6s
[CV 3/5] END ................C=5, max_iter=1000;, score=0.798 total time=   1.6s
[CV 4/5] END ................C=5, max_iter=1000;, score=0.818 total time=   1.6s
[CV 5/5] END ................C=5, max_iter=1000;, score=0.815 total time=   1.0s
[CV 1/5] END ................C=5, max_iter=3000;, score=0.783 total time=   0.0s
[CV 2/5] END ................C=5, max_iter=3000;, score=0.815 total time=   0.0s
[CV 3/5] END ................C=5, max_iter=3000;, score=0.798 total time=   0.0s
[CV 4/5] END ................C=5, max_iter=3000;, score=0.818 total time=   0.0s
[CV 5/5] END ................C=5, max_iter=3000;, score=0.815 total time=   3.9s
[CV 1/5] END ...............C=5, max_iter=10000;, score=0.783 total time=   0.9s
[CV 2/5] END ...............C=5, max_iter=10000;, score=0.815 total time=   0.0s
[CV 3/5] END ...............C=5, max_iter=10000;, score=0.798 total time=   0.0s
[CV 4/5] END ...............C=5, max_iter=10000;, score=0.818 total time=   0.0s
[CV 5/5] END ...............C=5, max_iter=10000;, score=0.815 total time=   1.9s
[CV 1/5] END ...............C=10, max_iter=1000;, score=0.784 total time=   0.1s
[CV 2/5] END ...............C=10, max_iter=1000;, score=0.814 total time=   0.1s
[CV 3/5] END ...............C=10, max_iter=1000;, score=0.798 total time=   0.0s
[CV 4/5] END ...............C=10, max_iter=1000;, score=0.818 total time=   0.0s
[CV 5/5] END ...............C=10, max_iter=1000;, score=0.815 total time=   0.0s
[CV 1/5] END ...............C=10, max_iter=3000;, score=0.784 total time=   0.0s
[CV 2/5] END ...............C=10, max_iter=3000;, score=0.814 total time=   1.2s
[CV 3/5] END ...............C=10, max_iter=3000;, score=0.798 total time=   0.0s
[CV 4/5] END ...............C=10, max_iter=3000;, score=0.818 total time=   0.0s
[CV 5/5] END ...............C=10, max_iter=3000;, score=0.815 total time=   0.6s
[CV 1/5] END ..............C=10, max_iter=10000;, score=0.784 total time=   0.0s
[CV 2/5] END ..............C=10, max_iter=10000;, score=0.814 total time=   0.0s
[CV 3/5] END ..............C=10, max_iter=10000;, score=0.798 total time=   0.0s
[CV 4/5] END ..............C=10, max_iter=10000;, score=0.818 total time=   0.0s
[CV 5/5] END ..............C=10, max_iter=10000;, score=0.815 total time=   0.0s
[CV 1/5] END ...............C=50, max_iter=1000;, score=0.783 total time=   0.4s
[CV 2/5] END ...............C=50, max_iter=1000;, score=0.814 total time=   0.7s
[CV 3/5] END ...............C=50, max_iter=1000;, score=0.798 total time=   1.8s
[CV 4/5] END ...............C=50, max_iter=1000;, score=0.817 total time=   0.8s
[CV 5/5] END ...............C=50, max_iter=1000;, score=0.815 total time=   0.9s
[CV 1/5] END ...............C=50, max_iter=3000;, score=0.783 total time=   0.3s
[CV 2/5] END ...............C=50, max_iter=3000;, score=0.814 total time=   0.0s
[CV 3/5] END ...............C=50, max_iter=3000;, score=0.798 total time=   0.0s
[CV 4/5] END ...............C=50, max_iter=3000;, score=0.817 total time=   0.0s
[CV 5/5] END ...............C=50, max_iter=3000;, score=0.815 total time=   0.0s
[CV 1/5] END ..............C=50, max_iter=10000;, score=0.783 total time=   0.0s
[CV 2/5] END ..............C=50, max_iter=10000;, score=0.814 total time=   0.0s
[CV 3/5] END ..............C=50, max_iter=10000;, score=0.798 total time=   1.5s
[CV 4/5] END ..............C=50, max_iter=10000;, score=0.817 total time=   0.4s
[CV 5/5] END ..............C=50, max_iter=10000;, score=0.815 total time=   0.2s

GridSearchCV(estimator=LogisticRegression(),
             param_grid={'C': [1, 5, 10, 50], 'max_iter': [1000, 3000, 10000]},
             verbose=3)

In [225]:
print(grid.best_params_)
print(grid.best_score_)

{'C': 1, 'max_iter': 1000}
0.8059006211180124

# Save the Model

In [226]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'LogisticRegression.sav'
joblib.dump(model, filename)

['LogisticRegression.sav']